*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url("/img/banner-sobre.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner .container {
    position: relative;
    z-index: 1;
}

.fa-person{
    font-size: 40px;
}  

p{
    margin-top: 20px;
    color: #fff;
}

.fa-computer{
    margin-top: 30px;
    font-size: 30px;
}

.row:nth-child(4){
    margin-top: 50px;
}

.fa-arrow-rotate-left{
    margin-top: 50px;
    font-size: 50px;
    color: #fff;
}