* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url("/img/banner.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner .container {
    position: relative;
    z-index: 1;
}

.container {
    margin-top: -50px;
}

.container h3 {
    color: #ffffff;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

h1 {
    overflow: hidden;
    border-right: 0.15em solid rgb(255, 255, 255);
    white-space: nowrap;
    margin: 0 auto;
    animation:
    typing 3s steps(40, end),
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: rgb(255, 255, 255);
    }
}

.container i {
    color: #ffff;
}

.about {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: #00000a;
    color: #ffff;
    border: none;
    border-bottom: 1px solid #929292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about:hover {
    transition: 0.6s;
    background-color: #ffff;
    color: #000;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.project {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: #131361;
    color: #ffff;
    border: none;
    border-bottom: 1px solid #929292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project:hover {
    transition: 0.6s;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.row:nth-child(6){
    font-size: 50px;
}

.row:nth-child(6) .col{
    margin-right: 10px
}

.row:nth-child(6) .fa-linkedin{
    color: #1818db;
}

.row:nth-child(6) .fa-envelope{
    color: rgb(223, 23, 23);
}