* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url("/img/banner-projetos.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container {
    position: relative;
    z-index: 1;
}

.card{
    background-color: black;
    color: aliceblue;
    margin-top: 30px;
}

.fa-wrench{
    color: #fff;
    font-size: 40px;
}

.fa-arrow-rotate-left{
    margin-top: 50px;
    font-size: 50px;
    color: #fff;
}